body{
    background-color: antiquewhite;
}
h2{  text-align: right;
}
h1{  text-align: center;
}
.intro{
    color: blue;
    background-color: brown;
    text-align: left;
}
img{
    text-align: right;
}
